<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-left"
        ><img src="/images/lab.svg" alt="Home" class="large-icon"
      /></a>
      <h1><%= category.name %></h1>
      <a href="/categories/<%= category.id %>/edit" class="nav-right"
        ><img
          src="/images/edit.svg"
          alt="Edit Category"
          class="large-icon nav-right"
      /></a>
    </nav>

    <% if (items.length > 0) { %>
    <h2>Items in this category:</h2>
    <ul>
      <% items.forEach(item => { %>
      <li class="item">
        <a href="/items/<%= item.id %>" class="item-name"><%= item.name %></a>
        <p class="item-name">(Quantity: <%= item.quantity %>)</p>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No items found in this category.</p>
    <% } %>

    <p><a href="/categories/<%= category.id %>/edit">Edit Category</a></p>
    <a href="/categories">Back to Categories</a>
  </body>
</html>
