<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= item.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-left"
        ><img src="/images/lab.svg" alt="Home" class="large-icon"
      /></a>
      <h1><%= item.name %></h1>
      <a href="/items/<%= item.id %>/edit" class="nav-right"
        ><img
          src="/images/edit.svg"
          alt="Edit Item"
          class="large-icon nav-right"
      /></a>
    </nav>
    <div class="item-container">
      <p>
        <strong>Category:</strong>
        <% if (category) { %>
        <a href="/categories/<%= category.id %>"><%= category.name %></a>
        <% } else { %> Unknown <% } %>
      </p>
      <p><strong>Quantity:</strong> <%= item.quantity %></p>
      <p>
        <strong>Added by Scientist:</strong>
        <% if (scientist) { %>
        <a href="/scientists/<%= scientist.id %>"><%= scientist.name %></a>
        <% } else { %> Unknown <% } %>
      </p>
    </div>
  </body>
</html>
