<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= scientist.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-left"
        ><img src="/images/lab.svg" alt="Home" class="large-icon"
      /></a>
      <h1><%= scientist.name %></h1>
      <a href="/scientists/<%= scientist.id %>/edit" class="nav-right"
        ><img
          src="/images/edit.svg"
          alt="Edit Scientist"
          class="large-icon nav-right"
      /></a>
    </nav>
    <p><strong>Email:</strong> <%= scientist.email %></p>
    <h2>Items Discovered:</h2>
    <ul>
      <% items.forEach(item => { %>
      <li class="item">
        <a href="/items/<%= item.id %>" class="item-name"><%= item.name %></a>
        <p class="item-name">(Quantity: <%= item.quantity %>)</p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
